body {
  padding: 50px;
  background-color: #66ccff;
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}
form {
  display: inline-grid;
}
input[type="text"] {
  padding: 10px;
}
input[type="email"] {
  padding: 10px;
}
input[type="password"] {
  padding: 10px;
}
input[type="submit"] {
  padding: 10px;
  font-size: 20px;
}
.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}